* {
	user-select: none;
	-o-user-select: none;
	-moz-user-select: none;
	-khtml-user-select: none;
	-webkit-user-select: none;

	-webkit-user-drag: none; /* Prevents dragging of images/divs etc */
	user-drag: none;

	font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
}

html, body {
	margin: 0;
	height: 100%;
	overflow: hidden;
}


jqgf-table {
	height: 100%;
	white-space: nowrap;
	font-size: 0;
}

jqgf-table > * {
}

jqgf-table > *:not(jqgf-slider) {
	display: inline-block;
	margin: 0;
	font-size: 13px;
	vertical-align: top;
	white-space: normal;
	border-top: 1px solid #3d3d3e;
	height: 100%;
}

jqgf-slider {
	display: inline-block;
	width: 3px;
	border-left: 1px solid #3d3d3e;
	border-right: 1px solid #3d3d3e;
	cursor: col-resize;
	background-color: deepskyblue;
	height: 100%;
}

jqgf-slide-handler {
	position: absolute;
	background-color: #fff;
	width: 3px;
	border-left: 1px solid #3d3d3e;
	border-right: 1px solid #3d3d3e;
	height: 40px;
	margin-left: -1px;
	top: calc(50% - 20px);
	cursor: pointer;
}
